html {
    overflow-y:scroll;
}

body{
    line-height: 1.5;
    margin: auto;
    font:1.3em/1.62em sans-serif;
    padding: 0 2em 0 2em;
    font-weight: 500;
}

a {
    color: darkorange;
    text-decoration: underline;
    font-weight: 700;
}

.more {
    background-color: darkorange;
    color: white;
    padding: 0px 4px 2px 4px;
    margin:0px 0px 0px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: inline;
    position: relative;
    bottom: 4px;
}

a {
    text-decoration: none;
}

strong{
    font-size: 110%;
    font-weight: 700;
    cursor: pointer;
    color: darkorange;
}

h1,h2,h3{
    line-height:1.2em;
    font-weight: 100;
}

#bio{
    padding-bottom: 1em;
}
.projectEntry{
    padding-bottom: 0.5em;
}
h2{
    text-decoration: underline;
/*    color: darkorange;*/
}

.title{
    font-weight: 700;
}

.description{
    font-style: oblique;
    padding-right: 32px;
    display: block;
    text-decoration: underline;
}

.date{
    font-size: 80%;
    display: inline;
    clear: both;
    min-width: 100px;
    float: right;
    text-align: right;
}

input[type=text],input[type=password], input[type=email], select, textarea {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 26px;
}

.submit {
    width: 100%;
    background-color: darkorange;
    color: white;
    padding: 12px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

input[type=submit] {
    text-align:center;
    font-size: 26px;
}

.header {
    font-size:46px;
    margin: 0;
    font-weight: 100;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.subHeader {
    font-weight: 100;
    margin-top: -1.5em;
    padding-bottom: 2em;
}

@media screen and (min-width: 500px){
    .header {
        font-size: 62px;
    }
    
    .description{
        float: none;
    }
    
    .date {
        float: left;
        text-align: left;
    }
    
    .submit {
        width: 200px;
        margin: auto;
        margin-top: 10px;
    }
}

@media screen and (min-width: 840px){
    body {
     max-width:40em;   
    }
    
    .projectEntry {
        padding: 0em;
    }
    
    .header {
        font-size: 82px;
    }
    
    
    .description{border: none;
        float: right;
    }
    
    .submit {
        width: 200px;
        margin: auto;
        margin-top: 10px;
    }
}